<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HDFC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MultiBank.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OBC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PNB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SBI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCCB11D4222B944800491009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCCB11F7222B9AA100491009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCCB121F222B9D4900491009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCCB1231222B9DE800491009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCCB1243222B9F5700491009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCCB1256222BA12F00491009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCCB1269222BA3B300491009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCCB127D222BA46E00491009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
